<div class="doc-totals">
  <table class="doc-table" style="max-width:320px;margin-left:auto;">
    {% if totals is defined and totals.net %}<tr><td>Suma netto</td><td class="text-right">{{ totals.net | money(currency) }}</td></tr>{% endif %}
    {% if totals is defined and totals.vat %}<tr><td>VAT</td><td class="text-right">{{ totals.vat | money(currency) }}</td></tr>{% endif %}
    {% if totals is defined and totals.gross %}<tr><th>Razem brutto</th><th class="text-right">{{ totals.gross | money(currency) }}</th></tr>{% endif %}
    {% if summary is defined and summary.gross %}<tr><th>Razem</th><th class="text-right">{{ summary.gross | money(currency) }}</th></tr>{% endif %}
  </table>
</div>
