{% if (document is defined and document.notes) or notes %}
<div class="doc-notes">
  <strong>Uwagi</strong>
  <div>{{ (document.notes if document is defined else none) | default(notes) }}</div>
</div>
{% endif %}
