{% if (document is defined and document.qr_value) or qr_value %}
<div class="qr-section text-center">
  {{ qr((document.qr_value if document is defined else none) | default(qr_value)) }}
</div>
{% endif %}
